<footer>
    <div id="copyRight"> &copy; Hare Krishna</div>
    <div class="socialMedia">
        <div id="gitHub">Git</div>
        <div id="linkedin">linkedin</div>
        <div id="instagram">insta</div>
        <div id="youtube">youtube</div>
    </div>
</footer>