<header>
    <div id="imageLogo">Hare Krishna</div>
    <div class="mySection">
        <div id="home">Home</div>
        <div id="about">About</div>
        <div id="api">API</div>
        <div id="contact">Contact Us</div>
    </div>
</header>
