<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <!-- <link rel="stylesheet" href="./styles/main.css"> -->

  <link rel="icon" href= "/assets/icons/user-profile.png" type="image/x-icon">

  <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
  <h1>Add a To-Do Partner</h1>
  <form action="/new" method="post">
    <p>What's your name?</p>
    <input type="text" autofocus="true" name="name" required>

    <p>Pick a color:</p>
    <input type="radio" name="color" id="LightPink" value="LightPink" />
    <label for="LightPink"><span class="LightPink"></span></label>

    <input type="radio" name="color" id="Coral" value="Coral" />
    <label for="Coral"><span class="Coral"></span></label>

    <input type="radio" name="color" id="LightCoral" value="LightCoral" />
    <label for="LightCoral"><span class="LightCoral"></span></label>

    <input type="radio" name="color" id="Yellow" value="Yellow" />
    <label for="Yellow"><span class="Yellow"></span></label>

    <input type="radio" name="color" id="Violet" value="Violet" />
    <label for="Violet"><span class="Violet"></span></label>

    <input type="radio" name="color" id="LightGreen" value="LightGreen" />
    <label for="LightGreen"><span class="LightGreen"></span></label>

    <input type="radio" name="color" id="LightSkyBlue" value="LightSkyBlue" />
    <label for="LightSkyBlue"><span class="LightSkyBlue"></span></label>

    <input type="radio" name="color" id="MediumSlateBlue" value="MediumSlateBlue" />
    <label for="MediumSlateBlue"><span class="MediumSlateBlue"></span></label>

    <input type="radio" name="color" id="Silver" value="Silver" />
    <label for="Silver"><span class="Silver"></span></label>

    <input type="radio" name="color" id="Lavender" value="Lavender" />
    <label for="Lavender"><span class="Lavender"></span></label>
    <div class="spacer"></div>
    <button type="submit">Add</button>
  </form>
</body>

</html>